html {
  background: #7A47E0;
}

.iconic-icons {
  max-width: 100%;
  min-width: 25%;
  width: 20px;
  height: 20px;
}

.brand {
  opacity: 0.5;
  color: black;
  font-size: 22px;
}

.brand:hover {
  color: white;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/* .fa-map-marked-alt {
  color: red;
} */

#or-less-text {
  color: rgba(180, 232, 178, 1);
}

.service-images {
  height: 115px;
  width: 75px;
}

@media screen and (min-width: 768px) {
  #intro-text {
    font-size: 4vw;
  }
}
